/* UserIcon.css */
.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the div circular */
    border: 2px solid #000; /* Border color */
    background-color: transparent; /* Background color */
  }
  
  .icon {
    color: #000; /* Icon color */
    width: 24px; /* Icon size */
    height: 24px; /* Icon size */
  }
  


#font-s {
    font-size: 1.2rem;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #1b2838;
}

  /* Footer.css */
.footer {
    background-color: #333333; 
    color: #ffffff; 
    text-align: center; 
    padding: 20px;  
    font-size: 1rem; 
}

.logo-img {
    width: 10%;
    height: 10%;
    border-radius: 50px;
}