
.install {
    color: black;
    position: relative;
    top: 80px;
    z-index: 100;
}

#install {
    background-color: #8bc34a;
    color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}