.filter {
    position: fixed;
    right: 0px;
    top: 100px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.load-post-splash {
    border: 1px solid grey;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


@media (max-width: 600px) {
    .filter {
        position: absolute;
        left: 20px;
        top: 190px;
        right: 100px;
    }

    .css-0 {
        top: 250px;
        position: relative;
        right: 100%;
        width: 99vw;
    }
  }
  