/* NavigationPane.css */
/* NavigationPane.css */
.navigation-pane {
    width: 20%; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #f0f0f0; /* Light gray background */
    float: left; /* Float the navigation pane to the left */
  }
  
  .navigation-link {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
  }
  
  .navigation-link:hover {
    background-color: #dddddd;
  }
  
  
  /* MainScreen.css */
  .main-screen {
    width: 80%; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #ffffff; /* White background */
    overflow-y: auto; /* Add scroll if content exceeds screen height */
    float: left; /* Float the main screen to the left */
  }
  
  /* TopPane.css */
  .top-pane {
    width: 100%; /* Full width of the viewport */
    height: 50px; /* Adjust height as needed */
    background-color: #333333; /* Dark gray background */
    color: #ffffff; /* White text color */
    text-align: right; /* Align profile icon to the right */
    padding: 10px; /* Add padding for better appearance */
  }

  /* Footer.css */
.footer {
  background-color: #333333; /* Dark gray background */
  color: #ffffff; /* White text color */
  text-align: center; /* Align text to the center */
  padding: 20px; /* Add padding for better appearance */
}

  