.document-viewer-iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.document-viewer-container {
    height: 100vh;
    width: 100%;
}

.pdfview canvas {
    border: 1px solid #000;
    display: block;
}

.doc-image {
    width: 100%;
}
